
*,
*:before,
*:after {
    box-sizing: border-box;
}


.portfolio_sort button {
    border-radius: 0;
    border: 0;
    padding: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    user-select: none;
}

.portfolio_sort button:focus {
    outline: 0 none;
}

.portfolio_sort button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* Controls
---------------------------------------------------------------------- */

.controls {
    margin-top: 20px;
}

.control {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 35px;
    background: #ebc985;
    cursor: pointer;
    font-family: "TitilliumWebRegular";
    font-size: 18px;
    text-transform: uppercase;
    color: #393939;
    transition: background 150ms;
}

.control:hover {
    background: #ffffff;
}

.control[data-filter]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;


    border-radius: 2px;

    transition: background-color 150ms, border-color 150ms;
}

.control[data-sort]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    transform:  translateY(1px) rotate(45deg);
}

.mixitup-control-active {
    background: #ffffff;
}

.mixitup-control-active[data-filter]:after {
    background: transparent;
}

.control:first-of-type {
    border-radius: 3px 0 0 3px;
}

.control:last-of-type {
    border-radius: 0 3px 3px 0;
}

.control[data-filter] + .control[data-sort] {
    margin-left: .75rem;
}

/* Container
---------------------------------------------------------------------- */

.portfolio_sort {
    padding: 1rem;

}
.portfolio_sort .portfolio_h5 {
    font-family: "TitilliumWebRegular";
    font-size: 18px;
    color: #393939;
    padding-top: 25px;
}
.portfolio_sort:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {

    position: relative;
}

.mix:before {
    content: '';
    display: inline-block;
    padding-top: 60px;
}

/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

/* 1 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100%/1 - (((2 - 1) * 1rem) / 1));
    }
}

/* 2 Columns */

@media screen and (min-width: 768px) {
    .mix,
    .gap {
        width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
    }
}


